@using simchas.data
@using simchas.Models
@model SimchaViewModel

<div>
    <h1>Simchas</h1>
</div>

<div>
    <button id="new-simcha" class="btn btn-danger">New Simcha</button>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th>Contributions</th>
            <th>Simcha Name</th>
            <th>Contributor Count</th>
            <th>Total</th>
            <th>Date</th>
        </tr>
        @if (Model != null)
        {
            foreach (Simcha s in Model.Simchas)
            {
                <tr>
                    <td><a href="/home/contributions?id=@s.Id" class="btn btn-success">Contributions</a></td>
                    <td>@s.Name</td>
                    <td>@s.TotalContributors / @Model.Contributors</td>
                    @if (s.TotalContributions == null)
                    {
                        <td>0.00 </td>
                    }
                    else
                    {
                        <td>@s.TotalContributions </td>
                    }                   
                    <td>@s.Date.ToShortDateString()</td>
                </tr>
            }
        }
    </table>
</div>

<div class="modal col-md-4 col-md-offset-3" id="addSimchaModal">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">New Simcha</h4>
        </div>
        <div class="modal-body">
            <form method="post" action="/home/addsimcha">
                <input type="text" placeholder="Simcha Name" name="Name" class="form-control" />
                <input type="date" name="Date" class="form-control" />
                <button class="btn btn-danger">Add Simcha</button>
            </form>
        </div>
    </div>

</div>

@section scripts {
    <script src="/Scripts/index.js"></script>
}
